@{
  Layout = "_Layout";
}

@using YourAnimeList.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)
    <br>
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="Submit" value="Log in" class="btn btn-default" />
  <hr>
  <p>No Account?</p>
    @Html.ActionLink("Register Here", "Register")
}