  
@{
  Layout = "_Layout";
}

@using YourAnimeList.ViewModels
@model RegisterViewModel
<h2>Register a new user</h2>

<hr/>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <div class="row">
    <div class="col-sm-1 mb-1">
    @Html.LabelFor(m => m.UserName)
    </div>
    <div class="col-sm-1 mb-1">
    @Html.TextBoxFor(m => m.UserName)
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 mb-1">
    @Html.LabelFor(m => m.Email)
    </div>
    <div class="col-sm-1 mb-1">
    @Html.TextBoxFor(m => m.Email)
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 mb-1">
    @Html.LabelFor(m => m.Password)
    </div>
    <div class="col-sm-1 mb-1">
    @Html.TextBoxFor(m => m.Password)
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 mb-1">
    @Html.LabelFor(m => m.ConfirmPassword)
    </div>
    <div class="col-sm-1 mb-1">
    @Html.TextBoxFor(m => m.ConfirmPassword)
    </div>
  </div>
  <div class="row">
    <div class="mt-2 col-sm-2">
      <input class="btn btn-success border rounded" type="Submit" value="Register"/>
    </div>
  </div>    
}

<img class="logo-bg" src="https://raw.githubusercontent.com/AAWhang/project-illust/master/transParentCat.png">