  
@{
  Layout = "_Layout";
}

@using YourAnimeList.ViewModels
@model RegisterViewModel
<h2>Register a new user</h2>

<hr/>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user => user.Email)
    <br>
    @Html.LabelFor(user => user.Password)
    @Html.PasswordFor(user => user.Password)
    <br>
    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)
    <br>

    <input type="Submit" value="Register"/>
}

<img class="logo-bg" src="https://raw.githubusercontent.com/AAWhang/project-illust/master/transParentCat.png">