@model YourAnimeList.Models.AnimeFull


<h4>Search for Anime</h4>
<form asp-controller="Home" asp-action="Index">
    <p>
    Title: <input type="text" name="SearchString">
    </p>
</form>

<h2>All Animes</h2>
<hr />
<ul>

    <div class="row">

            <div class="col-md-4"> 
                <li>Title: @Model.Title</li>
                <li>Title English: @Model.Title_English</li>
                <li>Title Japanese: @Model.Title_Japanese</li>
                <li>Synopsis: @Model.Synopsis</li>
                <li><div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src=@Model.Trailer_Url allowfullscreen></iframe>
                </div></li>
            </div>
        
        @Html.ActionLink("Add to Favorites", "Add", "Account", new {AnimeFull = @Model})

    </div>
        
</ul>