@model YourAnimeList.Models.AnimeFull


<h2 class="title">@Model.Title</h2>
<hr class="container"/>
<ul class="noBullet">

    <div class="row">
        <div class="col-md-5"> 
            <div class="card bg-light border-0 rounded-0 px-md-3 mx-md-n3 mb-3 pt-1 shadow-sm stats"><li>Title English: @Model.Title_English</li></div>
            <div class="card bg-light border-0 rounded-0 px-md-3 mx-md-n3 mb-3 pt-1 shadow-sm stats"><li>Title Japanese: @Model.Title_Japanese</li></div>
            <div class="card bg-light border-0 rounded-0 px-md-3 mx-md-n3 mb-3 pt-1 shadow-sm stats"><li>Synopsis: @Model.Synopsis</li></div>
            <div class="card bg-light border-0 rounded-0 px-md-3 mx-md-n3 mb-3 pt-1 shadow-sm stats">
                <li>Episodes: @Model.Episodes</li>
                <li>Review Score: @Model.Score</li>
                <li># of Reviews: @Model.Scored_By</li>
                <li>Popularity: @Model.Popularity</li>
            </div>
        </div>

        <div class="col">
            <li>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src=@Model.Trailer_Url allowfullscreen></iframe>
                </div>
            </li>
            <div class="list-group">
            <li class="title">Related Anime</li>
            @foreach(var item in Model.Related)
                    {
                        @foreach(var x in item.Value)
                        {
                            @if(@x["type"].ToString() == "anime")
                            {
                                <a href="@Url.Action("Details", "Home", new { AnimeId = @x["mal_id"].ToString() })" class="list-group-item list-group-item-action list-group-item-primary">@x["name"]</a>
                            }
                        }
                    }
            </div>
        </div>
    </div>       
</ul>
